---
import ContentSection from "~/components/content-section.astro";
const { site } = Astro;
---

<ContentSection title="Contáctanos" id="contacto">
  <Fragment slot="lead">
    <span class="text-lg md:text-2xl">
      Conéctate con nosotros y hagamos <span class="text-primary"
        >realidad tus ideas</span
      >. Estamos aquí para <span class="text-primary">ayudarte</span> en todo lo
      que necesites.
    </span>
  </Fragment>
  <section>
    <div class="mx-auto px-4 py-8 mobile:min-w-96 md:min-w-176 lg:py-6">
      <form
        class="space-y-8"
        accept-charset="utf-8"
        name="form-contacto"
        action="https://formsubmit.co/theagencytz@gmail.com"
        method="post"
      >
        <div>
          <label for="email" class="mb-2 block font-medium text-sm">Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm text-sm dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder="nombre@email.com"
            required
          />
        </div>
        <div>
          <label for="nombre" class="mb-2 block font-medium text-sm"
            >Nombre</label
          >
          <input
            type="text"
            id="nombre"
            name="nombre"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm text-sm dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder="Nombre completo"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label for="mensaje" class="mb-2 block font-medium text-sm"
            >Tu mensaje</label
          >
          <textarea
            id="mensaje"
            rows="6"
            minlength="10"
            name="mensaje"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm text-sm dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
            placeholder="Contanos en que podemos ayudarte"
            required></textarea>
        </div>
        <button
          type="submit"
          class="min-w-72 rounded-lg bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500 px-5 py-3 text-center font-medium text-white duration-300 text-sm hover:scale-105 hover:bg-primary focus:outline-none focus:ring-4 mobile:min-w-96 md:min-w-176 dark:hover:bg-primary"
          >Enviar mensaje</button
        >
        <input type="hidden" name="_captcha" value="false" />
        <input type="hidden" name="_next" value=`${site}` />
        <input type="hidden" name="_template" value="box" />
      </form>
    </div>
  </section>
</ContentSection>
