---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="animate-fade-in-up mb-48 flex scroll-mt-48 flex-col items-center justify-center space-y-8"
  data-aos="fade-up"
  data-aos-delay="300"
  data-aos-duration="1000"
  data-aos-mirror="true"
>
  <div class="flex flex-col items-center">
    <slot name="eyebrow" />
    <h2
      class="gradient-text min-h-14 text-center font-extrabold tracking-tight text-7xl md:text-6xl lg:h-20"
    >
      {title}
    </h2>
  </div>
  <p
    class="max-w-6xl text-center font-extrabold text-lg md:text-xl 2xl:text-2xl"
  >
    <slot name="lead" />
  </p>
  <slot />
</section>
