---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://www.instagram.com/goldengrowthok?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw%3D%3D",
    description: "Instagram",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://www.linkedin.com/company/golden-growth-tbl",
    description: "LinkedIn",
    icon: "fa-brands:linkedin",
  },
  {
    url: "https://www.whatsapp.com/?lang=es_LA",
    description: "WhatsApp",
    icon: "fa-brands:whatsapp",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-50">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-3 gap-4 sm:grid-cols-3">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
            target="_blank"
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
  <p class="absolute bottom-0 left-0 right-0 mb-6 text-center text-sm">
    &copy; {new Date().getFullYear()}
    <span class="font-bold text-primary contrast-125">Golden Growth</span>
  </p>
</footer>
