---
import ContentSection from "~/components/content-section.astro";
import Perfiles from "~/components/perfiles.astro";
import MisionVision from "~/components/mision-vision.astro";
---

<ContentSection title="¿Quiénes somos?" id="nosotros">
  <Fragment slot="lead">
    <span>
      No somos solo una agencia digital, somos <span class="text-primary"
        >Golden Growth</span
      >, tu partner digital que impulsa tu negocio. Destacamos por nuestra
      constante actualización en las últimas tecnologías y tendencias. Expertos
      en ofrecer la <span class="text-primary"
        >mejor solución personalizada</span
      > para tu empresa, negocio o proyecto, acelerando su crecimiento de manera
      eficiente.
    </span>
  </Fragment>
  <MisionVision />
  <!-- <Perfiles /> -->
</ContentSection>
