---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Proyectos" id="proyectos">
  <Fragment slot="lead">
    Explora nuestra selección de proyectos <span class="text-primary"
      >destacados</span
    > que demuestran nuestra <span class="text-primary"
      >experiencia y creatividad</span
    > en marketing digital y desarrollo web.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
  </div>
</ContentSection>
